---
# Namespace Definition (mirrors create_namespace role)
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ tenant_id }}-{{ item | lower }}"
  labels:
    tenant: "{{ tenant_id }}"
    environment: "{{ item | lower }}"
    provisioned-by: ansible-automation-platform

---
# Resource Quota Definition
apiVersion: v1
kind: ResourceQuota
metadata:
  name: resource-quota
  namespace: "{{ tenant_id }}-{{ item | lower }}"
spec:
  hard:
    # NOTE: ResourceQuotas for each size are defined in vars/main.yml
    requests.cpu: "{{ vars[prefix ~ 'request_cpu'] }}"
    requests.memory: "{{ vars[prefix ~ 'request_memory'] }}"
    limits.cpu: "{{ vars[prefix ~ 'limit_cpu'] }}"
    limits.memory: "{{ vars[prefix ~ 'limit_memory'] }}"
    pods: "{{ vars[prefix ~ 'pods'] }}"
    services: "{{ vars[prefix ~ 'services'] }}"

---
apiVersion: user.openshift.io/v1
kind: Group
metadata:
  name: "openshift.{{ tenant_id }}{{ item | lower }}.admin.users"
users: null

---
apiVersion: user.openshift.io/v1
kind: Group
metadata:
  name: "openshift.{{ tenant_id }}{{ item | lower }}.login.users"
users: null

---
apiVersion: user.openshift.io/v1
kind: Group
metadata:
  name: "openshift.{{ tenant_id }}{{ item | lower }}.appsupport.users"
users: null

---
{% if item in ['Dev', 'QA'] %}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: admin-rb
  namespace: "{{ tenant_id }}-{{ item | lower }}"
subjects:
- kind: Group
  name: openshift.devops.users
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: openshift.middleware.users
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: openshift.dev.login.users
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: "openshift.{{ tenant_id }}{{ item | lower }}.admin.users"
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: "openshift.{{ tenant_id }}{{ item | lower }}.login.users"
  apiGroup: rbac.authorization.k8s.io
- kind: User
  name: system:serviceaccount:ucd-agent:ucd
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: admin
  apiGroup: rbac.authorization.k8s.io

{% elif item == 'Stage' %}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: admin-rb
  namespace: "{{ tenant_id }}-{{ item | lower }}"
subjects:
- kind: User
  name: system:serviceaccount:ucd-agent:ucd
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: openshift.staging.admin.users
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: "openshift.{{ tenant_id }}stage.admin.users"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: admin
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: view-rb
  namespace: "{{ tenant_id }}-{{ item | lower }}"
subjects:
- kind: Group
  name: openshift.devops.users
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: openshift.middleware.users
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: openshift.staging.login.users
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: "openshift.{{ tenant_id }}stage.login.users"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: view
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: appsupport-rb
  namespace: "{{ tenant_id }}-{{ item | lower }}"
subjects:
- kind: Group
  name: "openshift.{{ tenant_id }}stage.appsupport.users"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: labcorp-app-support
  apiGroup: rbac.authorization.k8s.io

{% elif item == 'Prod' %}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: admin-rb
  namespace: "{{ tenant_id }}-{{ item | lower }}"
subjects:
- kind: User
  name: system:serviceaccount:ucd-agent:ucd
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: "openshift.{{ tenant_id }}prod.admin.users"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: admin
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: view-rb
  namespace: "{{ tenant_id }}-{{ item | lower }}"
subjects:
- kind: Group
  name: openshift.devops.users
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: openshift.middleware.users
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: openshift.prod.login.users
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: "openshift.{{ tenant_id }}prod.login.users"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: view
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: appsupport-rb
  namespace: "{{ tenant_id }}-{{ item | lower }}"
subjects:
- kind: Group
  name: "openshift.{{ tenant_id }}prod.appsupport.users"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: labcorp-app-support
  apiGroup: rbac.authorization.k8s.io
{% endif %}